//ヘッダー
.header {
  background: #FF8E26;
  padding: 0px 10px;
  .nav {
    .header_menu {
      display: flex;
      width: 100%;
      height: 70px;
      position: relative;
      margin: 0;
      padding: 5px 0px;
      font-size:14px;
      justify-content: space-between;
      align-items: center;
      .row {
        display: contents;
      }
      .row .btn {
        color: black;
        margin-top: 10px;
        font-size: 18px;
        transition: opacity .3s;
        &:hover {
          opacity: .6;
        }
      }
      li {
        list-style: none;
        margin: 0 5px;
        padding: 0;
        a {
          color: black;
          padding: 2px 0;
          text-decoration: none;
        }
      }
      &_title {
        font-size: 22px;
        font-weight: bolder;
        transition: opacity .3s;
        text-decoration: none;
        span.hidden-xs {
          color: white;
          -webkit-text-stroke: 1.7px #343a40;
      }
        &:hover {
          opacity: .6;
          text-decoration: none;
        }
      }
    }
  }
  input#q_name_or_team_name_cont {
    width: 200px;
    border-radius: 30px;
  }
}
.fa-user-circle:before {
  content: "\f2bd";
  position: relative;
  bottom: 5px;
}
.dropdown.menu.left.show {
  left:0;
  right:auto;
  &::before {right:auto !important; left:9px;}
  &::after {right:auto !important; left:10px;}
 }
 i.fas.fa-sticky-note.fa-2x.hidden-xs {
  position: relative;
  left: 40px;
}
i.fas.fa-home.fa-2x.hidden-xs {
  position: relative;
  left: 6px;
}

// フッター
nav.navbar.text-center.footer {
  padding: 0;
  background-color: #FF8E26;
  margin: 0;
}
.navbar-brand.logo-main {
  color: black;
}
//ログイン

.devise-container {
  width: 550px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.devise-container h2 {
  text-align: center;
  margin: 20px 0;
  letter-spacing: 4px;
}
.devise-container h3 {
  text-align: center;
  margin: 20px 0;
  letter-spacing: 4px;
}
.label-wrapper {
  font-size: 16px;
  width: 200px;
  margin:30px auto;
}
.label-wrapper input[type="email"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}
.label-wrapper input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}
.label-wrapper input[type="checkbox"] {
  position: relative;
  bottom: 30px;  
}
label.string.optional {
  position: relative;
  bottom: 30px; 
}
.submit-button {
  text-align: center;
  margin:15px auto;
  position: relative;
  bottom: 30px; 
}
[type=submit] {
  padding: 6px 12px;
  border-radius: 4px;
  letter-spacing: 1px;
}
.form_input {
  width: 200px;
  height: 20px;
  border-radius: 4px;
  background-color: #E5E5E5;
}

.forgot-pass {
  width: 200px;
  margin:30px auto;
  text-align: center;
}

.card {
  width: 100%;
  height: 500px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 2px 5px #ccc;
  .card-header {
    background: #FF8E26;
    padding: 5px 0;
    border-radius: 50px 50px 0 0;
    &__title {
      color: white;
      font-weight: bold;
      letter-spacing: 3px;
    }  
  }
}

.text-center {
  font-weight: bold;
}
.card-content {
  padding: 20px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
// 新規登録画面

// ユーザー詳細画面
.devise-wrapper {
  border: solid;
  border-color: #FF8E26;
  border-width: 5px;
  border-radius: 50px;
  width: 100%;
  height: 800px;
  .devise-header {
    background: #FF8E26;
    padding: 20px 0;
    border-radius: 50px 50px 0 0;
  }
}
.col-xl-6.col-lg-6.col-md-6.col-sm-12.col-xs-12 {
    display: contents;
}
.btn{
  width: 40%;
}
.profile-image img {
  border-radius: 10px;
}
.prfile-name.text-center {
  font-size: 2.5rem;
}
.col-7 p {
  color: #FF8E26;
  font-weight: bolder;
  font-size: 20px;
}
.profile-description {
  font-size: 2rem;
  font-weight: bold;
  white-space: pre-wrap;
}
.promotion-form {
  textarea {
    width: 80%;
  }
  [type=submit] {
    margin-right: 200px;
  }
  .score-count {
    font-size: 3rem;
    color: #FF8E26;
  }
}
.fa-twitter {
  color: #00aced;
}
.fa-instagram {
  color: #db4a39;
}
.fa-facebook-square {
  color: #305097;
}
// ユーザーエディット画面
.edit-wrapper.col-5 {
  height: 600px;
}
img.mx-auto.d-block {
  width: 80%;
  height: auto;
}
form#edit_user {
  width: 100%;
  display: inline-flex;
}
.edit-wrapper {
  border: solid;
  border-color: #FF8E26;
  border-width: 5px;
  border-radius: 50px;
  height: 70%;
  padding: 0;
  margin: 0;
  .edit-header {
    background: #FF8E26;
    padding: 20px 0;
    width: 100%;
    border-radius: 50px 50px 0 0;
  } 
}
textarea#user_carrer,textarea#user_lesson_comment {
  width: 80%;
}
input#user_movie_url,input#user_promotion_url {
  width: 70%;
}
// 検索画面
.search-wrapper {
  border: solid;
  border-color: #FF8E26;
  border-width: 5px;
  border-radius: 50px;
  width: 280px;
  height: 100%;
}
.user-content.my-5 {
  width: 100%;
}
.user-team_name {
  font-family: monospace;
  letter-spacing: 1px;
}
.user-score-follower.pl-3.pt-3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.top-user-section-left.ml-3.mb-0.d-flex {
  border: outset;
  border-radius: 50px;
  margin: 10px;
}
.user-lesson_comment.pt-3.pl-5 {
  font-family: monospace;
  color: orange;
  width: 300px;
}
select#q_genre_cont, 
select#q_pref1_or_pref2_or_pref3_cont, 
select#q_sorts  {
  width: 174px;
}
// マイプロフィール画面
.col-3 {
  display: inline-block;
  .btn {
    width: 80%;
}
}
.col-9 {
  display: inline-block;
}
.announcement-wrapper {
  position: relative;
  bottom: 70px;
  border: outset;
  border-radius: 50px;
  padding: 20px;
  textarea#announcement_content {
    width: 100%;
    white-space: pre-wrap;
}
  input.btn.btn-warning.text-white {
    width: 20%;
  }

}
// アナウンス一覧画面
.container.top-margin {
  .col-5 {
    display: inline-block;
  }
  .col-7 {
    display: inline-block;
  }
  .user-name.text-left {
    position: relative;
    bottom: 70px;
  }
  .user-genre.text-left {
    position: relative;
    bottom: 70px;
    font-family: inherit;
    font-size: 1.7rem
  }
}
.col-4 {
  display: inline-block;
  .point-status {
    position: relative;
    right: 20px;
    bottom: 50px;
  }
}   
.announce-title.h3 {
  font-weight: bold;
  color: orange;
  padding-top: 30px;
  padding-left: 50px;
} 
// マイアナウンス画面
.nav-tabs {
  border-bottom: 1px solid #FF8E26;
}
a.nav-link.text-dark.font-weight-bold.active {
  border-color: #FF8E26 #FF8E26 #FFF #FF8E26;
}
// ページネーション
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: lightseagreen;
  border-color: lightseagreen;
}
