//ヘッダー
.header {
  background: #FF8E26;
  padding: 0px 10px;
  .nav {
    .header_menu {
      display: flex;
      width: 100%;
      height: 70px;
      position: relative;
      margin: 0;
      padding: 5px 0px;
      font-size:14px;
      justify-content: space-between;
      align-items: center;
      .row {
        display: contents;
      }
      .row .btn {
        color: black;
        margin-top: 10px;
        font-size: 18px;
        transition: opacity .3s;
        &:hover {
          opacity: .6;
        }
      }
      li {
        list-style: none;
        margin: 0 5px;
        padding: 0;
        a {
          color: black;
          padding: 2px 0;
          text-decoration: none;
        }
      }
      &_title {
        font-size: 22px;
        font-weight: bolder;
        transition: opacity .3s;
        text-decoration: none;
        &:hover {
          opacity: .6;
          text-decoration: none;
        }
      }
    }
  }
}
.search-form input[type="text"] {
  border-radius: 50px;
  width: 160px;
  height: 30px;
  margin-left: 150px;
  padding: 0 10px;
}
.fa-user-circle:before {
  content: "\f2bd";
  position: relative;
  bottom: 5px;
}
.dropdown.menu.left.show {
  left:0;
  right:auto;
  &::before {right:auto !important; left:9px;}
  &::after {right:auto !important; left:10px;}
 }
//ログイン

.devise-wrapper {
  box-sizing: border-box;
  width: 100%;
}
.devise-container {
  width: 550px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.devise-container h2 {
  text-align: center;
  margin: 20px 0;
  letter-spacing: 4px;
}
.devise-container h3 {
  text-align: center;
  margin: 20px 0;
  letter-spacing: 4px;
}
.label-wrapper {
  font-size: 16px;
  width: 200px;
  margin:30px auto;
}
.label-wrapper input[type="email"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}
.label-wrapper input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}
.label-wrapper input[type="checkbox"] {
  position: relative;
  bottom: 30px;  
}
label.string.optional {
  position: relative;
  bottom: 30px; 
}
.submit-button {
  text-align: center;
  margin:15px auto;
  position: relative;
  bottom: 30px; 
}
[type=submit] {
  padding: 6px 12px;
  border-radius: 4px;
  letter-spacing: 1px;
}
.form_input {
  width: 200px;
  height: 20px;
  border-radius: 4px;
  background-color: #E5E5E5;
}

.forgot-pass {
  width: 200px;
  margin:30px auto;
  text-align: center;
}

.card {
  width: 100%;
  height: 500px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 2px 5px #ccc;
  .card-header {
    background: #FF8E26;
    padding: 5px 0;
    border-radius: 50px 50px 0 0;
    &__title {
      color: white;
      font-weight: bold;
      letter-spacing: 3px;
    }  
  }
}

.text-center {
  font-weight: bold;
}
.card-content {
  padding: 20px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
// 新規登録画面

// ユーザー詳細画面
.profile-wrapper {
  border: solid;
  border-color: #FF8E26;
  border-width: 5px;
  border-radius: 50px;
  .profile-header {
    background: #FF8E26;
    padding: 20px 0;
    border-radius: 50px 50px 0 0;
  }
}
.profile-image img {
  border-radius: 10px;
  width: 100%;
}
.col-7 p {
  color: #FF8E26;
  font-weight: bolder;
  font-size: 20px;
}
.promotion-form {
  textarea {
    width: 80%;
  }
  [type=submit] {
    margin-right: 200px;
  }
}
.fa-twitter {
  color: #00aced ;
}
.fa-instagram {
  color: #db4a39;
}
.fa-facebook-square {
  color: #305097;
}
// ユーザーエディット画面
form#edit_user {
  width: 100%;
  display: inline-flex;
}
.edit-wrapper {
  border: solid;
  border-color: #FF8E26;
  border-width: 5px;
  border-radius: 50px;
  padding: 0;
  margin: 0;
  .edit-header {
    background: #FF8E26;
    padding: 20px 0;
    width: 100%;
    border-radius: 50px 50px 0 0;
  } 
}
