p
  | #{@resource.email}　様
p あなたのパスワードを変更するためのリンクを要求しました。以下のリンクからパスワードを再設定してください。
p= link_to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token)
p このメールに心当たりがない方は、このメールを無視してください。
p 上記リンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。
